<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Amazon" thread-count="5" parallel="tests">
  
  <listeners>
  <listener class-name="com_Amazon_utilities.ExtentReportManager"/>
  </listeners>
  
  <parameter name="browsername" value="chrome"/>
  
  <test name="TC001_signIn">
    <classes>
      <class name="com_Amazon_testCases.TC001_signIn"/>
    </classes>
  </test> 
</suite> 
